@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1599px;
    margin: auto;
}

.header {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    margin: auto;
}

.hamburger {
    display: none;
    cursor: pointer;
    color: #151618;
    font-size: 3em;
    margin-right: 30px;
}

.nav {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.51px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 602px;
    display: flex;
    justify-content: space-around;
}

.header__icons {
    display: flex;
    width: 180px;
    justify-content: space-between;
}

.header__icons_person {
    display: flex;
    gap: 20px;
}

.Slider {
    background-image: url(./Images/HeaderPic.jpg);
    background-size: cover;
    max-width: 1599px;
    height: 500px;
    display: flex;
    padding: 0;
}

.slider_text {
    width: 1200px;
    margin: auto;
    margin-top: 254px;
}

.h1_slider {
    width: 790px;

    font-family: Cormorant;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
}

.p_slider {
    margin-top: 20px;
    width: 558px;
    font-family: Cormorant;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.06px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
}

.quote_sec {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.quote {
    position: relative;
    max-width: 704px;
    height: 96px;
}

.quote p {
    font-family: Cormorant;
    font-size: 40px;
    font-style: italic;
    font-weight: 300;
    line-height: 48.44px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}


.quote_plate {
    position: absolute;
    width: 359px;
    height: 61px;
    left: 385px;
    top: 50px;
    opacity: 0.5;
    background-color: #f7f2ea;
    z-index: -1;
}

@media (max-width: 768px) {
    .header {
        height: 165px;
        justify-content: space-between;
    }

    .nav {
        display: none;
    }

    .hamburger {
        display: block;
        text-align: start;
    }

    .great_logo {
        text-align: center;
    }

    .header__icons {
        width: 130px;
    }

    .h1_slider {
        width: 684px;
        margin-left: 20px;
    }

    .p_slider {
        margin-left: 20px;
    }

    .quote_plate {
        width: 273px;

        .quote_sec {
            margin-top: 120px;
        }
    }
}

.section {
    margin-top: 150px;
}

.collection {
    max-width: 1200px;
    min-height: 247px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.collection div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: Cormorant;
    font-size: 40px;
    font-weight: 400;
    line-height: 48.44px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

@media (max-width: 768px) {
    .section {
        margin-top: 120px;
    }

    .collection {
        margin-right: 6px;
        justify-content: center;
    }

    .collection div {
        width: 208px;
    }
}

.sec_testimonials {
    background-color: rgba(247, 242, 234, 1);
    max-width: 1600px;
    height: 397px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 150px;
    justify-content: center;
}

.sec_test_text {
    max-width: 1200px;
    margin-top: 60px;
}


.testimonials {
    max-width: 1200px;
    height: 169px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 60px;
    column-gap: 26px;
    flex-wrap: wrap;
}


.testimonials div {
    width: 280px;
    height: 169px;
}

.testimonials p {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    line-height: 21.79px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.testimonials h3 {
    margin-top: 10px;
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

@media (max-width: 768px) {
    .sec_testimonials {
        height: 596px;
        margin-top: 120px;
    }

    .testimonials {
        justify-content: center;
        row-gap: 30px;
        column-gap: 76px;
    }
}

.blog_sec {
    justify-content: center;
}

.blog {
    margin: 60px auto;
    width: 1142px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.blog div {
    width: 48%;
    height: 180px;
    display: flex;
    gap: 20px;
}

.blog img {
    grid-row: span 3;
}

.read_blog {
    margin-top: 48px;
    display: flex;
    justify-content: left;
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 300;
    line-height: 17.7px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.blog div div {
    width: 252px;
    display: block;
}

.blog div div p {
    margin-top: 10px;
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 300;
    line-height: 17.7px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(21, 22, 24, 1);
}


h3 {
    font-family: Cormorant;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.06px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(21, 22, 24, 1);
}

.blog h3 {
    width: 252px;
    height: 86px;
}

a {
    text-decoration: none;
    color: #151618;
}

.blog__buttom {
    width: 149px;
    height: 51px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    border: solid 1px #151618;
    background-color: #fff;
    opacity: 0px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 300;
    line-height: 27.24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.subscribe {
    background-color: #F7F2EA;
    background-image: url(./Images/Sub_tea.png);
    background-position: right;
    background-repeat: no-repeat;
    max-width: 1600px;
    min-height: 418px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 150px;
    justify-content: center;
}

.sub__text {
    max-width: 1200px;
}

.sub__h2 {
    justify-content: left;
    margin-top: 100px;
}

.sub__p {
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 580px;
    height: 120px;
}

.sub__form {
    width: 580px;
    height: 117px;
    display: flex;
}

.sub__checkbox_text {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 300;
    line-height: 17.7px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.sub__form input[checkbox] {
    vertical-align: top;
    margin: 40px;
    padding: 10px;
}

input[type="email"] {
    border: none;
    padding: 10px;
    background-color: #F7F2EA;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    color: #B8B58B;
    text-decoration: none;
    opacity: 60%;
}

.sub__form button {
    width: 116px;
    height: 51px;
    opacity: 0px;
    background: #FFFFFF;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 100;
    line-height: 27.24px;
    border: solid 1px #151618;
}

.sub__line {
    width: 439px;
    height: 0px;
    top: 249.04px;
    left: 820px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #B8B58B
}

.sub__checkbox {
    display: flex;
    gap: 10px;
    align-items: start;
    margin-top: 12px;
}

.sub__checkbox input[type="checkbox"] {
    margin-top: 5px;
    border-radius: 0;
    border-color: #151618;
    border: 1px;
    background-color: #FFFFFF;
}

.sub__email {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 50px;
}

.sub__form_email {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.prio__item_maintext {
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 300;
    line-height: 40.85px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #151618
}

.prio__item_text {
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #151515
}

.prio__item {
    width: auto;
}

.prio__item img {
    display: flex;
    margin: 40px auto;
}

.prio__items {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    margin-top: 60px;
    gap: 49px;
}

.prioritise {
    margin-top: 150px;
}

footer {
    max-width: 1600px;
    background-color: #F7F2EA;
    margin-top: 150px;
}

.foot {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    gap: 40px;
    padding: 10px;
}

.foot__nav {
    display: flex;
    max-width: 466px;
    justify-content: space-between;
    margin: 100px auto 0;
    gap: 238px;
}

.foot__nav_header {
    font-family: Cormorant;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.06px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #151618;
}

.foot__ol {
    margin-top: 50px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 21.79px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    list-style-type: none;
}

.foot__ol li {
    margin-bottom: 20px;
}

.foot__secblock {
    display: flex;
}

.foot__quote {
    width: 270px;
    margin-top: 179px;
}

.avter_quote {
    width: 129px;
    height: 32px;
    margin-top: 20px;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 300;
    line-height: 16.34px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.text_quote {
    font-family: Open Sans;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    line-height: 21.79px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.foot__adress {
    width: 270px;
    margin-top: 100px;
}

.text_adress {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 300;
    line-height: 17.7px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 50px;
}

.phone {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 300;
    line-height: 17.7px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 136px;
}

.foot__adress_contact {
    display: flex;
    width: 270px;
    margin-top: 20px;
    gap: 20px;


}

.foot__adress_socnet {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 41px;
    margin-left: 97px;
}

.foot__other {
    width: 466px;
    height: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 21.79px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.foot__other_pay {
    display: flex;
    width: 156px;
    height: 20px;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}